<script src="../auth/auth.js"></script>
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="row">
    <h1> EDIT PAGE!!!!</h1>
    <h1>Hi  {{user.name}}  !</h1>
        <h2>Name: {{user.name}}</h2>
        <h3>Languages Learning: <p ng-repeat="languageToLearn in languagesToLearn">{{languageToLearn}}</p></h3>
        <h3>Languages Known: <p ng-repeat="languageKnown in languagesHaveLearned track by $index">{{languageKnown}}</p></h3>
        <h3>Places To Visit: <p ng-repeat="place in locationsToVisit track by $index">{{place}}</p></h3>
        <h3>Places Have Visited: <p ng-repeat="placeSeen in locationsHaveVisited track by $index">{{placeSeen}}</p></h3>
                <input type="text" class=" text-line" placeholder="languages to learn" ng-model="user.languagesToLearn">
                <input type="text" class="text-line" placeholder="languages known" ng-model="user.languagesHaveLearned">
                <input type="text" class="text-line" placeholder="cities to visit" ng-model="user.locationsToVisit">
                <input type="text" class="text-line" placeholder="cities have visited" ng-model="user.locationsHaveVisited">
                <button type='button' class="btn btn-sm" ng-click='put(user)'>Submit Changes</button>
            </div>
        </div>

    <hr>
</div>
</div>
</div>