<div class="row">
<div class="col-md-8 col-md-offset-2">
    <script src="../auth/auth.js"></script>
    <div class="row">
    <h1> EDIT PAGE!!!!</h1>
    <h1>Hi  {{userService.currentUser.user.name}}  !</h1>
        <h2>Name: {{userService.currentUser.user.name}}</h2>
        <h3>Languages Learning: {{userService.currentUser.user.languagesToLearn}}</h3>
        <h3>Languages Known: {{userService.currentUser.user.languagesHaveLearned}}</h3>
        <h3>Cities To Visit: {{userService.currentUser.user.locationsToVisit}}</h3>
        <h3>Cities Have Visited: {{userService.currentUser.user.locationsHaveVisited}}</h3>

        <div>
            <div ng-hide='editing'>
                <h2>Name: {{userService.currentUser.user.name}}</h2>
                <h3>Languages Learning: {{userService.currentUser.user.languagesToLearn}}</h3>
                <h3>Languages Known: {{userService.currentUser.user.languagesHaveLearned}}</h3>
                <h3>Cities To Visit: {{userService.currentUser.user.locationsToVisit}}</h3>
                <h3>Cities Have Visited: {{{{userService.currentUser.user.locationsHaveVisited}}}}</h3>
                <p>
                    <button type='button' class="btn btn-secondary" ng-click='editing = !editing'> Edit </button>
                    <button type='button' class="btn btn-secondary" ng-click='delete(item.id)'> X </button>
                </p>
            </div>
            <div ng-show='editing' class='editing'>
                <!--<input type="text" class="form-control" placeholder="title" ng-model="item['first name']">-->
                <input type="text" class="form-control" placeholder="languages to learn" ng-model="{{userService.currentUser.user.lagnuagesToLearn}}">
                <input type="text" class="form-control" placeholder="languages known" ng-model="{{userService.currentUser.user.languagesHaveLearned}}">
                <input type="text" class="form-control" placeholder="cities to visit" ng-model="{{userService.currentUser.user.locationsToVisit}}">
                <input type="text" class="form-control" placeholder="cities have visited" ng-model="{{userService.currentUser.user.locationsHaveVisited}}">
                <button type='button' class="btn btn-sm" ng-click='put(userService.currentUser.user); editing = !editing'>Submit Changes</button>
            </div>
        </div>

    <hr>
</div>
</div>
</div>