<script src="../auth/auth.js"></script>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {{requests}}
        <h1>Hi {{user.name}} !</h1>
        <div class="wrapper">
            <img class='img-responsive'
                 ng-src="{{user.avatar}}" alt="profile image">
        </div>
        <h1> You have {{user.friends.length}} friends</h1>
    </div>
    <hr>
    {{user.friends.avatar}}
    <div class="row">
        <h1 ng-repeat="item in user.friends">
            <div class="col-md-4">
                {{item.username}}
                <div class="wrapper">
                    <img class='img-responsive'
                         ng-src="{{item.avatar}}" alt="profile image">
                </div>
            </div>
        </h1>
    </div>
</div>